:root {
    --main-color: #434455;
    --page-color: #FFFFFF;
    --main-font: 'Roboto', sans-serif;
    --main-font-style: normal;
    --main-font-weight: 400;
    --main-font-size: 16px;
    --main-line-height: 1.5;
    --main-letter-spacing: 0.02em;
    --first-logo-color: #4D5AE5;
    --logo-color: #2E2F42;
    --filters-button: #e7e9fc;
}

/* BODY */

body {
    font-family: var(--main-font);
    font-style: var(--main-font-style);
    font-weight: var(--main-font-weight);
    font-size: var(--main-font-size);
    line-height: var(--main-line-height);
    letter-spacing: var(--main-letter-spacing);
    color: var(--main-color);
    background-color: var(--page-color);
}

/* MENU NAV */

.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--first-logo-color);
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 76px;
    margin-bottom: 16px;
    display: inline-block;
}

.logo-next-footer, .text-footer {
    color: #F4F4FD;
}

.title,
.main-menu-link,
.logo-next-nav {
    color: var(--logo-color);
}

.main-menu-link:hover,
.main-menu-link:focus,
.contacts:hover,
.contacts:focus {
    color: #404bbf;
}

.filters-button:hover,
.filters-button:focus {
    border: 1px solid transparent;
}

.address-list {
    font-style: normal;
}

.contacts {
    color: var(--main-color);
}

.main-section, .footer {
    background-color: var(--logo-color);
}

/* TITLES */

.main-title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
}

.main-menu-link,
.little-title {
    font-weight: 500;
}

.little-title {
    color: var(--logo-color);
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.medium-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

/* BUTTONS */

.button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #404BBF;
    background-color: #F4F4FD;
    cursor: pointer;
    border-width: 0px;
    border-radius: 4px;
}

.main-button {
    color: #FFFFFF;
    background-color: var(--first-logo-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    min-width: 169px;
    padding: 16px 32px;
    margin: 0 auto;
}

.filters-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 12px 24px;
    color: var(--first-logo-color);
    border: 1px solid var(--filters-button);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button:active,
.button:focus,
.button:hover {
    color: #FFFFFF;
    background-color: #404BBF;
}

/* COLORS */

.section-team {
    background-color: #F4F4FD;
}

.team-list {
    background-color: #FFFFFF;
}

.text-sections {
    color: var(--main-color);
}

/* HIDDEN TITLES */

.hidden {
    overflow: hidden;
}

/* RESET START */

.link {
    text-decoration: none;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

/* CONTAINER */

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;

    outline: 2px dashed orangered;
    outline-offset: -2px;
}

.header,
.header-container,
.main-menu,
.main-menu-list,
.menu-contacts,
.button-list,
.portfolio-list,
.doing-list,
.our-team-list,
.features-list,
.main-title,
.team-card,
.app-card {
    display: flex;
}

/* --- */

.header-container,
.main-menu,
.main-menu-list,
.menu-contacts {
    align-items: center;
}

img,
.main-button {
    display: block;
}

.header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e7e9fc;
}

.main-menu-list,
.menu-contacts {
    gap: 40px;
    margin-right: auto;
    padding-top: 24px;
    padding-bottom: 24px;
}

.section {
    padding: 120px 0;
}

.portfolio-section {
    padding-top: 96px;
    padding-bottom: 120px;
}

.main-section {
    padding-top: 188px;
    padding-bottom: 188px;
}

.footer {
    padding: 100px 0;
}

.main-menu,
.menu-contacts,
.main-menu-link {
    padding-top: 24px;
    padding-bottom: 24px;
}

.button-list {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 72px;
    margin-bottom: 72px;
    gap: 24px;
}

.portfolio-list {
    flex-wrap: wrap;
    gap: 48px 24px;
    margin-bottom: 72px;
    flex-basis: calc((100% - 2 * 24px) / 3);
}

.doing-list {
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 72px;
    gap: 24px;
    flex-basis: calc((100% - 3 * 16px) / 3);
}

.team-list {
    flex-wrap: wrap;
    padding-top: 72px;
    gap: 24px;
    flex-basis: calc((100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.feature-item {
    flex-wrap: column;
    justify-content: space-between;
    flex-basis: calc((100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.our-team-list,
.features-list {
    gap: 24px;
}

.team-position {
    text-align: center;
}

.team-card {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
}

.portfolio-container {
    padding-top: 96px;
    padding-bottom: 120px;
}

.app-card {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.app-title {
    margin-bottom: 8px;
}